<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= page.title %></title>

  <meta property="og:site_name" content="MDXC" />
  <meta property="og:type" content="article" />
  <meta name="twitter:card" content="summary" />

  <% if (page.metaDescription) { %>
    <meta name="description" content="<%- page.metaDescription %>" />
    <meta property="og:description" content="<%- page.metaDescription %>" />
    <meta name="twitter:description" content="<%- page.metaDescription %>" />
  <% } %>
  <% if (page.metaTitle) { %>
    <meta property="og:title" content="<%- page.metaTitle %>" />
    <meta name="twitter:title" content="<%- page.metaTitle %>" />
  <% } %>
  <% if (page.metaImage) { %>
    <meta property="og:image" content="<%- page.metaImage %>" />
    <meta name="twitter:image" content="<%- page.metaImage %>" />
  <% } %>

  <% files.css.forEach(function(file) { %>
    <link rel="stylesheet" type="text/css" href="<%- file %>">
  <% }); %>
</head>
<body>
  <div id="app">
    <%= content %>
  </div>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <% files.js.forEach(function(file) { %>
    <script type="text/javascript" src="<%- file %>"></script>
  <% }); %>
</body>
</html>
